<!DOCTYPE html>
<html class="bg-muted" theme="Light">
<script src="/js/ui/theme.js"></script>
<script src="/js/custom_element/main.js"></script>

<head>
  <title>^.,.^ BlueFox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/js/custom_element/mark-down.js" type="module"></script>

  <!-- UIkit -->
  <link rel="stylesheet" href="/modules/uikit/css/uikit.min.css" />
  <script src="/modules/uikit/js/uikit.min.js" defer></script>
  <script src="/modules/uikit/js/uikit-icons.min.js" defer></script>

  <link href="/modules/fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="/modules/fontawesome/css/solid.min.css" rel="stylesheet" />
  <link href="/modules/fontawesome/css/regular.min.css" rel="stylesheet" />
  <link href="/modules/fontawesome/css/brands.min.css" rel="stylesheet" />

  <!-- MonacoEditor -->
  <script src="/modules/monaco-editor/min/vs/loader.js" defer></script>

  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/modern-ui.css" />
  <link rel="stylesheet" href="/css/newtab.css" />

  <link rel="stylesheet" href="/modules/highlight/styles/github.min.css" />

  <script src="/js/init.js" type="module"></script>
  <script src="/js/newtab.js" type="module"></script>
</head>

<body>
  <gate src="/components/newtab/panel.html"></gate>
</body>

</html>