<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-default">
    <div id="UiNames">
      <div class="uk-margin">
        <div checkbox>
          <label class="uk-margin-small-right">
            <input value="data-testid" class="uk-checkbox" type="checkbox">
            <span>data-testid</span>
          </label>
          <label class="uk-margin-small-right">
            <input value="bluefox-label" class="uk-checkbox" type="checkbox">
            <span>bluefox-label</span>
          </label>
          <label class="uk-margin-small-right">
            <input value="aria-description" class="uk-checkbox" type="checkbox">
            <span>aria-description</span>
          </label>
          <label class="uk-margin-small-right">
            <input value="aria-label" class="uk-checkbox" type="checkbox">
            <span>aria-label</span>
          </label>
        </div>
      </div>
      <ul uk-accordion="multiple: true">
        <li class="uk-open">
          <a class="uk-accordion-title">
            <span>UI Selectors</span>
          </a>
          <div class="uk-accordion-content">
            <div>
              <span>
                <button Reload class="uk-icon-button button-radius-top" uk-icon="refresh" uk-tooltip="Reload">
                </button>
              </span>
            </div>
            <div Spreadsheet></div>
            <div>
              <a class="uk-icon-button button-radius-bottom" href="#UiNames" uk-scroll uk-icon="chevron-up" uk-tooltip="Scroll up">
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>