<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-default">
    <table class="uk-table uk-table-justify uk-table-divider">
      <thead>
        <tr>
          <th class="uk-width-small">Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Title</td>
          <td><span sync sync-to-this sync-to-property="textContent" sync-from="#TabInfo" sync-from-property="TabInfo.title"></span></td>
        </tr>
        <tr>
          <td>URL</td>
          <td><code><span class="uk-text-meta" sync sync-to-this sync-to-property="textContent" sync-from="#TabInfo" sync-from-property="TabInfo.url"></span></code></td>
        </tr>
        <tr>
          <td>EventListners</td>
          <td>
            <span EventListners>...</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>