div:has(> [setValueOnClick="#MenuControll"]) {
  user-select: none;
}

[FocusFrame] iframe {
  width: 100%;
  height: 600px;
}

[ServerScript] {
  height: 600px;
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}

#FileList code {
  background-color: transparent;
}

.button-radius-none {
  width: 40px;
  height: 40px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button-radius-right {
  width: 40px;
  height: 40px;
  border-top-left-radius: 0px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 500px;
}

.button-radius-top {
  width: 40px;
  height: 40px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button-radius-bottom {
  width: 40px;
  height: 40px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
}