body {
  width: 400px;
  height: 500px;
}

.theme-header {
  background-color: #82b1ff;
}
.theme-background-color {
  background-color: #82b1ff !important;
}
.theme-background-color-back {
  background-color: #ecc883 !important;
}
.theme-color {
  color: #82b1ff !important;
}

.c-w {
  color: white;
}

.c-b {
  color: #c0927f;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

[constHide],
[hide],
[showWhenSome] {
  display: none;
}

[animWhenShow] {
  opacity: 0;
  animation: fade 0.2s ease-in-out 0s 1 normal forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
