img {
    pointer-events: none;
    user-select: none;
}

.img-selectable {
    pointer-events: all !important;
    user-select: all !important;
}

[constHide],
[hide] {
    display: none !important;
}

.bg-main {
    background-color: #f6f8fa;
}

.bg-orange {
    background-color: #ecc883;
}

.bg-blue {
    background-color: #82b1ff;
}

.bg-white {
    background-color: #ffffff;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.hidden-overflow {
    overflow-x: scroll;
    overflow-y: hidden;
}

.divider-icon {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    height: 20px;
    background-size: contain;
    background-image: url("/media/tail.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.divider-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: calc(50% - (50px / 2));
    border-bottom: 1px solid #e5e5e5;
}

.divider-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    max-width: calc(50% - (50px / 2));
    border-bottom: 1px solid #e5e5e5;
}

.radius {
    border-radius: 11px;
}

.radius-top {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.radius-bottom {
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.radius-top-left {
    border-top-left-radius: 11px;
}

.radius-top-right {
    border-top-right-radius: 11px;
}

.radius-bottom-left {
    border-bottom-left-radius: 11px;
}

.radius-bottom-right {
    border-bottom-right-radius: 11px;
}

.uk-button-text:hover {
    color: #82b1ff !important;
}

.code-menu {
    position: relative;
}

.code-menu-container-absolute {
    position: absolute;
    top: 0;
    right: 0;
}

.code-menu-container-relative {
    position: relative;
    top: 0;
    right: 0;
}

.help-open {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    z-index: 999;
}

.scroll-up {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    z-index: 999;
}