body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  height: 100vh;
  background-color: white;
}

[menu] {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  overflow-y: scroll;
}

[main] {
  padding-left: 250px !important;
}
.theme-color {
  color: #82b1ff !important;
}
.theme-background-color {
  background-color: #82b1ff !important;
}
.theme-background-color-back {
  background-color: #ecc883 !important;
}

.bg-green {
  background-color: #20b2aa !important;
}

.cw {
  color: white;
}
.b {
  font-weight: bold;
}
.radius {
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff;
}

.text-indent-small {
  text-indent: 0.3em;
}
.padding-left-small {
  padding-left: 15px;
}
.padding-left-xsmall {
  padding-left: 0.3em;
}

[constHide],
[hide] {
  display: none !important;
}

[BlueFoxStatus] {
  width: 100%;
  color: white;
}
[BlueFoxStatus] [color] {
  height: 5px;
  width: 100%;
  animation: gradient 15s ease infinite;

  position: relative;
  bottom: -30px;
  left: -18px;

  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow: 0 0 0 3px #fff;
}
[BlueFoxStatus="online"] [color] {
  background: linear-gradient(-45deg, #c2dcff, #7fffdb, #b6ff7f);
  background-size: 400% 400%;
}
[BlueFoxStatus="offline"] [color] {
  background: linear-gradient(-45deg, #f5f5f5, #d8d8d8, #8b8b8b);
  background-size: 400% 400%;
}
[BlueFoxStatus] [status]::after {
  display: inline;
  width: 100%;
  text-indent: 0.3em;
  padding-top: 5px;
  padding-bottom: 5px;
}
[BlueFoxStatus="online"] [status]::after {
  content: "^.,.^";
  animation: online 3s linear infinite;
  animation-direction: alternate-reverse;
}
[BlueFoxStatus="offline"] [status]::after {
  content: "-_ _^ .";
  animation: offline 50s linear infinite;
}
@keyframes offline {
  0% {
    content: "-_ _^ .";
  }
  20% {
    content: "-_ _^ ..";
  }

  40% {
    content: "^.,_^ ...";
  }
  50% {
    content: "^_ _^ ...z";
  }
  60% {
    content: "-_ _^ ...zz";
  }
  100% {
    content: "-_ _^ ...zzZ";
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
[list] [list-child] {
  padding-left: 1.3em;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}

[list] [list-child]:hover {
  background-color: gainsboro;
}
[list] [uk-icon] {
  margin-right: 0.5em;
}
[list] > active {
  position: absolute;
  display: block;
  height: 50px;
  width: 5px;
  background-color: #82b1ff;
  pointer-events: none;
}

animstr {
  display: inline;
}

.uk-progress[value="0"] {
  display: none;
}

[progress] {
  position: fixed;
  height: 10px;
  background-color: #82b1ff;
  z-index: 999;
}
[progress][style="width: 100%;"] {
  background-color: #ecc883;
  animation: progress_done 2.5s linear;
}
@keyframes progress_done {
  0% {
    background-color: #82b1ff;
  }
  100% {
    background-color: #ecc883;
  }
}

[BlueFoxFileAttach] {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[CapturePreview] {
  filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.6));
}

/* Scrollbar size */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: 1s;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 1s;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgb(110, 110, 110);
  transition: 0.3s;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
  background: rgba(95, 91, 91, 1);
}

::-webkit-scrollbar-corner {
  background: none;
}
